h1 ユーザー一覧
= link_to '新規登録', new_admin_user_path, class: 'btn btn-primary'

.mb-3
table.table.table-hover
  thead.thead-default
    tr
      th = User.human_attribute_name(:name)
      th = User.human_attribute_name(:email)
      th = User.human_attribute_name(:admin)
      th = User.human_attribute_name(:created_at)
      th = User.human_attribute_name(:updated_at)
      th
  tbody
  - @users.each do |user|
    tr
      td = link_to  user.name, [:admin, user]
      td = user.created_at
      td = link_to  "編集", edit_admin_user_path(user), class: 'btn btn-primary mr-3'
      td = link_to  "削除", [:admin, user], method: :delete, data: { confirm: "タスク「#{user.name}」を削除しますか？" }, class: 'btn btn-danger'
